<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <!-- heder di kosongkan -->
  </ion-header>
  <!-- ============== Menu ================== -->
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-avatar>
          <img class="img" alt="Silhouette of a person's head" src="assets/logo/logoo.png" />
        </ion-avatar>
      </ion-toolbar>
    </ion-header>
    
    <ion-content class="ion-padding">
      <div id="header">
        <img src="assets\thumb admin.png" alt="">
      </div>
      <ion-button fill="clear" (click)="toPageHome()"><ion-icon slot="start" name="speedometer"></ion-icon>Dasboard</ion-button><br>
      <ion-button fill="clear"(click)="toPageAddCandidate()"><ion-icon slot="start" name="people"></ion-icon>Data Kandidat</ion-button><br>
      <ion-button fill="clear" (click)="toPageAddUser()"><ion-icon slot="start" name="person"></ion-icon>Data User</ion-button><br>
      <ion-button fill="clear" (click)="toPageHasilVote()"><ion-icon slot="start" name="newspaper"></ion-icon>Hasil Voting</ion-button><br>
      <ion-button fill="clear"  (click)="logout()"><ion-icon slot="start"  name="log-out"></ion-icon>Logout</ion-button>
  
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-avatar>
          <img alt="Silhouette of a person's head" src="assets/logo/logoo.png" />
        </ion-avatar>
      </ion-toolbar>
    </ion-header>
  
  </div>
  <br><br><br>
    <!-- <ion-card>
  <ion-card-content>
      <div id="header">
      <img src="assets\IMG20201117110625.jpg" alt="">
    </div><br>
    <h2> CANDIDATE 01</h2><br>
    <h2> JUMLAH VOTE :</h2>
  </ion-card-content>
  </ion-card> -->
  <br>
  <ion-card *ngFor="let key of vote">
    <img alt="Photo Error" src="\assets\candidate.jpg" />

    <ion-card-header>
      <!-- <ion-card-subtitle>gozalii dan ijal</ion-card-subtitle> -->
      <ion-card-title><b>{{key.name}}</b></ion-card-title>
    </ion-card-header>
    <br>
    <ion-card-content>
      <h2><b>Visi : </b></h2>
      <br>
      <p>{{key.vision}}</p>
      <br>
      <h2><b>Misi : </b></h2>
      <br>
      <p>{{key.mission}}</p>
      <br>
      <h2><b> Jumlah Suara : {{key.total_vote}} </b></h2>
      <br>
    </ion-card-content>
  </ion-card>
</ion-content>


